* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 14px;
}

header h1 {
  text-align: center;
  color: tomato;
  margin: 1em 0;
  font-size: 3.5em;
}

dt {
  color: rgba(0, 153, 120, 0.301);
  font-size: 2em;
}
